{% load static %}
<!DOCTYPE html>
<html lang="en" class="flex justify-center">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Solirius Knowledge Base{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'output.css' %}">
  {% block css %}
  {% endblock %}
</head>
<body class="bg-[#343633] 2xl:min-w-[2000px] xl:min-w-[1440px] lg:min-w-[1080px] md:min-w-[800px]">
  <header id="title" class="mt-1 px-4 py-6 text-[1rem]">
  {% block header %}
    <nav class="mb-12 relative z-10 bg-[#4e5858] p-4">
      <ul class="flex justify-evenly drop-shadow-[0_0_0.5rem_rgb(5,_5,_5)]">
        {% url 'home' as home_url %}
          <li><a href="{{ home_url|default:'#' }}" class="underline">Home</a></li>
          <li id="nav-games" class="group">
              <span
                class="drop-btn absolute pl-1 pb-[0.3rem] -top-[0.1rem] cursor-pointer transform origin-[60%_50%] transition-transform duration-200 group-hover:rotate-180"
              >
                ▾
              </span>
              <ul
                id="nav-games-dropdown"
                class="absolute hidden group-hover:block p-2 top-7 rounded-md bg-customGrey drop-shadow-[0_0_0.1rem_rgb(2,_2,_2)]"
              >
                <li class="mt-1 mb-4">
                  <a href="#" class="font-bold hover:text-[blue] py-1">Item 1</a>
                </li>
                <hr class="border-[white] border-t-2 border-dashed" />
                <li class="my-4">
                  <a href="#" class="font-bold hover:text-[blue] py-1">Item 2</a>
                </li>
                <hr class="border-[white] border-t-2 border-dashed" />
                <li class="mt-4 mb-2">
                  <a href="#" class="font-bold hover:text-[blue] py-1">Item 3</a>
                </li>
              </ul>
            </li>
          <li><a href="" class="underline">Search</a></li>
      </ul>
    </nav>
    <h1 class="text-[3rem] xl:ml-60 lg:ml-40 md:ml-20">
      {% block h1 %}
      {% endblock %}
    </h1>
  {% endblock %}
  </header>
  <main class= "px-8 grid grid-cols-[1fr_2fr]">
    {% block main %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </main>
  <footer>
  {% block footer %}
  {% endblock %}
  </footer>
</body>
</html>